<header>
<h1>Home - Productos en Tiempo Real</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <div>
            <ul id="products-list"></ul>
        </div>
    </section>

    <section>
        <h3>FORMULARIO PARA CREAR PRODUCTOS</h3>
        <form id="products-form">
            <input type="text" name="title" placeholder="Ingresa el Nombre"> <br>
            <input type="text" name="category" placeholder="Ingresa la categoría"> <br>
            <input type="text" name="description" placeholder="Ingresa una descripción"> <br>
            <input type="text" name="code" placeholder="Ingresa el código"> <br>
            <input type="number" name="price" placeholder="Ingresa el Precio"> <br>
            <div>¿Está activo? <input type="checkbox" name="status"></div>
            <input type="number" name="stock" placeholder="Ingresá el stock">

            <input type="submit" value="Guardar Producto">
        </form>
    </section>

    <section>
        <h3>Eliminar Producto</h3>
        <div>
            <input type="number" id="input-product-id">
            <button id="btn-delete-product">Eliminar Producto</button>
        </div>
    </section>

    <p id="error-message" style="color: brown;"></p>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.socket.js"></script>